/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.vjs-theme {
  --color-bg: #12192199;
  --color-dark: #121921;
  --color-primary: #ffd428;
  --color-primary-dark: #ffa000;
  --shadow-xs: 0 1px 5px rgba(0, 0, 0, 0.18);
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.21);
  --shadow-focus: inset 0 0 0 3px #a2b0be;
  --shadow-focus-outer: 0 0 0 3px #a2b0be;
  font-family: ProximaNova, sans-serif;
  font-weight: 600;
}

.vjs-theme .vjs-control-bar {
  height: 56px;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.04) 17%,
    rgba(0, 0, 0, 0.8)
  );
  padding: 0px 1rem;
}

.vjs-theme .vjs-slider {
  background: var(--color-bg);
  border-radius: 8px 0px 0px 8px;
}

.vjs-theme .vjs-slider::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 255, 0.25);
  content: "";
  border-radius: 8px 0px 0px 8px;
}

.vjs-theme .vjs-slider:focus {
  background: var(--color-bg);
  box-shadow: unset;
  text-shadow: unset;
}

.vjs-theme .vjs-slider:focus .vjs-play-progress::before {
  background: #fff;
  border-radius: 8px 0px 0px 8px;
}

.vjs-theme .vjs-play-progress {
  background-color: var(--color-primary);
}

.vjs-theme .vjs-load-progress {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px 0px 0px 8px;
}

.vjs-theme .vjs-load-progress div {
  background: none;
}

.vjs-theme .vjs-time-control {
  font-size: 0.875rem;
  line-height: normal;
  display: flex !important;
  align-items: center;
  padding: 0;
}

.vjs-theme .vjs-progress-holder {
  height: 3px;
  border-radius: 8px;
}

.vjs-theme .vjs-progress-control:hover > .vjs-progress-holder,
.vjs-theme .vjs-progress-holder.vjs-sliding,
.vjs-theme .vjs-progress-holder:focus-visible {
  height: 6px;
  border-radius: 8px;
}

.vjs-theme .vjs-progress-control {
  position: absolute;
  top: 2px;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  align-items: flex-end;
  padding: 0px 1rem;
  margin-left: 0px !important;
}

.vjs-theme .vjs-play-progress::before {
  top: 50%;
  width: 1em;
  height: 1em;
  background-color: var(--color-primary-dark);
  border-radius: 1em;
  box-shadow: var(--shadow-xs);
  content: "";
  font-size: inherit;
  transform: translateY(-50%);
  transition: all 0.15s;
}

.vjs-theme .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1em;
}

.vjs-theme .vjs-progress-control:hover .vjs-play-progress::before,
.vjs-theme .vjs-progress-holder.vjs-sliding .vjs-play-progress::before,
.vjs-theme .vjs-progress-holder:focus-visible .vjs-play-progress::before {
  box-shadow: var(--shadow-sm);
  font-size: 1.4em;
}

.vjs-theme .vjs-progress-control .vjs-progress-holder {
  margin: 0;
  margin-bottom: 0.3em;
}
.vjs-theme .vjs-progress-control .vjs-progress-holder.vjs-slider {
  box-shadow: none;
}

.vjs-theme .vjs-button {
  width: 24px;
  height: 24px;
}
.vjs-theme .vjs-button.vjs-seek-button {
  cursor: pointer;
}
.vjs-theme .vjs-control-bar .vjs-control:not(:first-child) {
  margin-left: 1.25rem;
}

.vjs-theme .vjs-button > .vjs-icon-placeholder::before,
.vjs-theme .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,
.vjs-theme .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
  font-size: 1.9rem;
  line-height: 75%;
}

.vjs-theme .vjs-control:focus::before,
.vjs-theme .vjs-control:hover::before,
.vjs-theme .vjs-control:focus {
  text-shadow: unset;
}

.vjs-theme .vjs-track-settings-controls button:focus,
.vjs-theme .vjs-track-settings-controls button:active {
  outline: none;
}

.vjs-theme .vjs-slider:focus-visible {
  outline: none;
}

.vjs-theme .vjs-slider:hover {
  box-shadow: var(--shadow-sm);
}

.vjs-theme .vjs-control:focus-visible,
.vjs-theme .vjs-control .vjs-menu-button:focus-visible {
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
}

.vjs-theme .vjs-button .vjs-icon-placeholder::before,
.vjs-theme .vjs-control .vjs-button > .vjs-icon-placeholder::before {
  transition: background-color 0.1s;
}

.vjs-theme button.vjs-fullscreen-control.vjs-control.vjs-button {
  margin-left: auto;
}

.vjs-theme .vjs-progress-control:hover .vjs-play-progress .vjs-time-tooltip {
  display: none;
}

.vjs-theme .vjs-progress-control .vjs-mouse-display {
  width: 0.5em;
  background-color: #fff;
  transform: translateX(-50%);
}

.vjs-theme .vjs-progress-control:hover .vjs-time-tooltip {
  top: -3em;
  font-size: 1.25em;
}

.vjs-theme .vjs-mouse-display .vjs-time-tooltip {
  background-color: var(--color-bg);
}

.vjs-theme .vjs-current-time,
.vjs-theme .vjs-time-divider,
.vjs-theme .vjs-duration {
  display: initial;
}

.vjs-theme .vjs-current-time {
  padding-right: 0.5em;
}

.vjs-theme .vjs-time-control.vjs-time-divider {
  min-width: unset;
  padding: 0;
}

.vjs-theme .vjs-duration {
  padding-left: 0.5em;
  margin-right: auto;
}

.vjs-theme .vjs-volume-panel {
  transition: width 0.5s;
  align-items: center;
  width: auto;
}
.vjs-theme .vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level::before {
  top: -3px;
}
.vjs-theme .vjs-mute-control.vjs-control.vjs-button {
  font-size: 1.75rem;
  margin-right: 0px;
}
.vjs-icon-volume-mute:before,
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,
.vjs-icon-volume-high:before,
.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
  font-size: 1.6rem;
  line-height: 90%;
}
.vjs-icon-pause:before,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
  font-size: 1.9rem;
  line-height: 80%;
}

.vjs-theme .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover,
.vjs-theme .vjs-volume-panel.vjs-volume-panel-horizontal:active,
.vjs-theme .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active {
  width: auto !important;
}

.vjs-theme .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  height: 56px;
  margin-left: 0;
  transition: background-color 0.1s, visibility 0.3s, opacity 0.15s, width 0.2s,
    left 0.3s 0.3s;
}

.vjs-theme .vjs-volume-bar.vjs-slider-horizontal {
  width: 6em;
}

.vjs-theme
  .vjs-volume-panel.vjs-hover
  .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme .vjs-volume-panel .vjs-volume-control:active.vjs-volume-horizontal,
.vjs-theme
  .vjs-volume-panel.vjs-hover
  .vjs-mute-control
  ~ .vjs-volume-control.vjs-volume-horizontal,
.vjs-theme
  .vjs-volume-panel
  .vjs-volume-control.vjs-slider-active.vjs-volume-horizontal {
  width: 6em;
  height: 56px;
  margin-left: 0.5rem;
}

.vjs-theme .vjs-volume-control:focus-within {
  box-shadow: var(--shadow-focus);
}

.vjs-volume-control.vjs-volume-horizontal {
  display: flex;
  align-items: center;
}

.vjs-theme .vjs-volume-bar {
  margin: 0;
}
.vjs-theme .vjs-volume-bar .vjs-mouse-display {
  margin-top: 4px;
}
.vjs-theme .vjs-volume-control {
  margin-right: 0px;
}

.vjs-theme .vjs-volume-control .vjs-volume-bar::before {
  background: rgba(255, 255, 255, 0.4);
}

.vjs-theme
  .vjs-button.vjs-picture-in-picture-control
  > .vjs-icon-placeholder::before {
  font-size: 2.5em;
  line-height: 2.77em;
}

.vjs-theme .vjs-button.vjs-captions-button > .vjs-icon-placeholder::before,
.vjs-theme .vjs-button.vjs-subs-caps-button > .vjs-icon-placeholder::before {
  font-size: 2.75em;
  line-height: 2.5em;
}

.vjs-theme .vjs-button.vjs-fullscreen-control > .vjs-icon-placeholder::before {
  font-size: 1.75rem;
  line-height: 86%;
}

.vjs-theme .vjs-picture-in-picture-control.vjs-disabled {
  display: none;
}

.vjs-theme .vjs-big-play-button {
  top: 50%;
  left: 50%;
  width: 1.75em;
  height: 1.75em;
  border: 4px solid rgba(255, 255, 255, 1);
  background-color: unset;
  border-radius: 2em;
  font-size: 7em;
  line-height: 1.65;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

/* Separate element for the button background to fix sub-pixel gap between bg & border */
.vjs-theme .vjs-big-play-button::before {
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  display: block;
  border-radius: 50%;
  content: "";
  transition: all 0.2s;
}

.vjs-theme--sm .vjs-big-play-button {
  font-size: 5em;
}

.vjs-theme:hover .vjs-big-play-button {
  background: unset;
}

.vjs-theme .vjs-big-play-button:focus,
.vjs-theme .vjs-big-play-button:hover {
  background-color: var(--color-bg);
  transition: all 0.2s;
}

.vjs-theme .vjs-big-play-button:focus {
  color: var(--color-dark);
  outline: none;
}

.vjs-theme .vjs-big-play-button:focus::before {
  background-color: #fff;
}

.vjs-theme .vjs-menu-button-popup .vjs-menu {
  left: -5em;
  width: 14em;
  margin-bottom: 7em;
}

.vjs-theme .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  bottom: 0;
  padding-bottom: 0.63em;
  background-clip: content-box;
  background-color: var(--color-bg);
  font-size: 1.6em;
}

.vjs-theme .vjs-menu-item {
  background: unset;
}

.vjs-theme .vjs-menu li.vjs-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.vjs-theme .vjs-menu li.vjs-menu-item[aria-checked="true"] {
  background-color: #fff;
}

.vjs-theme .vjs-menu li.vjs-menu-item[aria-checked="true"]:hover {
  background-color: #fffe;
}

.vjs-theme .vjs-menu-item.vjs-texttrack-settings {
  display: none;
}

.vjs-theme .vjs-menu li {
  text-transform: capitalize;
}

/* Small version of the big play button */

.vjs-theme-small-play-button .vjs-big-play-button {
  font-size: 3.6em;
  line-height: 1.55;
}

/* Audio player theme */

.vjs-theme-audio {
  --color-overlay: #12192109;
}

/* Disabled for now until we figure out if we need margins/padding either side */
/*
  .vjs-theme-pad .vjs-control-bar,
  .vjs-theme-pad .vjs-progress-control {
    padding-right: 5vw;
    padding-left: 5vw;
  } */

.vjs-theme-audio .vjs-big-play-button {
  z-index: 1;
}

.vjs-theme-audio .vjs-control-bar {
  /* background-color: unset; */
  z-index: 1;
  padding-right: 1rem;
  padding-left: 1rem;
  background: unset;
}

.vjs-theme-audio::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-bg);
  content: "";
}

.video-js .vjs-audio-controls {
  position: absolute;
  z-index: 1; /* Allow player.addChild('AudioControls, {}, 0') */
  right: 0;
  bottom: 9.6em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 0.5s;
}

.video-js .vjs-audio-controls > .vjs-audio-play-button {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  color: #fff; /* Outline color for non-focus-visible */
  font-size: 1.5em;
  outline-color: inherit;
}

.video-js .vjs-audio-play-button .vjs-icon-placeholder::before {
  border-radius: 50%;
  color: var(--color-dark);
  font-family: VideoJS;
  font-style: normal;
  font-weight: normal;
  line-height: 1.75em;
}

.video-js
  .vjs-audio-controls
  > .vjs-audio-play-button
  .vjs-icon-placeholder::before {
  background: #fff;
}

.video-js .vjs-audio-play-button .vjs-icon-placeholder::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  content: "";
  transform: scale(0);
  transition: 0.2s all;
}

.video-js .vjs-audio-play-button:hover > .vjs-icon-placeholder::after {
  background: var(--color-overlay);
  transform: scale(1);
}

.video-js .vjs-audio-play-button:focus-visible {
  box-shadow: var(--shadow-focus-outer);
}

.video-js .vjs-audio-play-button.vjs-paused .vjs-icon-placeholder::before {
  content: "\f101";
}

.video-js .vjs-audio-play-button.vjs-playing .vjs-icon-placeholder::before {
  content: "\f103";
}

.video-js .vjs-skip-button {
  font-size: 1.4em;
}

.video-js:not(.vjs-has-started) .vjs-audio-controls {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.video-js .vjs-skip-button .vjs-seconds {
  position: absolute;
  left: 50%;
  padding-top: 0.2em;
  font-size: 13px;
  font-weight: 600;
  transform: translateX(-50%);
}

.video-js .vjs-skip-button .vjs-icon-placeholder::before {
  display: block;
  width: 1.4em;
  height: 1.4em;
  margin-top: 0.1em;
  border-radius: 50%;
  content: "\f116";
  font-family: VideoJS;
  font-size: 2em;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-stroke: 1px #fff;
}

.video-js .vjs-skip-button:focus-visible {
  outline: none;
}

.video-js .vjs-skip-button:focus-visible .vjs-icon-placeholder::before {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: var(--shadow-focus);
}

.video-js .vjs-skip-button:hover .vjs-icon-placeholder::before {
  background-color: rgba(255, 255, 255, 0.15);
}

.video-js .vjs-skip-button-back {
  transform: translateX(-2.5em);
}

.video-js .vjs-skip-button-forward {
  transform: translateX(2.5em);
}

.video-js .vjs-skip-button-forward .vjs-icon-placeholder::before {
  transform: scaleX(-1);
}

/* Keep the control bar visible when playing audio */
.vjs-theme-audio.vjs-has-started.vjs-user-inactive.vjs-playing
  .vjs-control-bar {
  opacity: 1;
}
@media screen and (max-width: 568px) {
  .vjs-theme .vjs-control-bar {
    height: 42px;
  }
  .vjs-theme .vjs-button > .vjs-icon-placeholder::before,
  .vjs-theme .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,
  .vjs-theme .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,
  .vjs-theme .vjs-icon-pause:before,
  .video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
    font-size: 1.5rem;
    line-height: 110%;
  }
  .vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before, .vjs-icon-volume-high:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before, .video-js .vjs-mute-control .vjs-icon-placeholder:before{
    font-size: 1.3rem;
    line-height: 125%;
  }
}
